#error {
   height: 100vh;
   width: 100%;
   padding: var(--space);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   h2 {
    display: block;
    margin-top: 147px;
    margin-bottom: calc(var(--space) * 2);
    color: var(--green-base);
    font-weight: 600;
    text-align: center;
   }
   button{
      display: flex;
      background-color: transparent;
      border: none;
      height: 100%;
      width: 80%;
      outline: none;
      justify-content: center;
   }
   
}