// Área Sobre
#sobre {
    width: 100%;
    height: 220px;
    background-color: var(--blue-transp);
    padding: 0 var(--space);
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;
    h2 {
        font-size: 22px;
        color: var(--color_white);
        text-align: center;
        font-weight: 900;
    }   

    p {
        color: var(--color_white);
        text-align: center;
        font-size: 15px;
    }
}