#form{
    p{
        color: var(--green-base);
    }
}

@media (min-width: 1200px){
    #form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        form{
            width: 50%;
            
        }
        p{
            font-size: 18px;
            color: var(--green-base);
        }
    }
}