@font-face{
    font-family:"Popins";
    src: local("Poppins ExtraLight"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
} 

@font-face{
    font-family:"Popins";
    src: local("Poppins ExtraBold"), url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 900;
} 