#franchise{
    flex-direction: column;
    > header{
        height: 278px;
        width: 100%;
        background-image: url('/assets/images/sorriso.webp');
        background-position: center;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        h1{
            color: white;
            text-align: center;
            font-weight: bold;
        }
    }
    .slid1{
        width: 100%;
        min-height: 250px;
        margin-top: var(--space);
        flex-direction: column;
        position: relative;
        .container{
            width: 100%;
            height: 147px;
            background-color: var(--color_slid-green);
            justify-content: space-between;
            .imgbefore{
                width: 193px;
                height: 100%;
            }
            .elements{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: calc(100% - 147px);
                h2{
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-size: 24px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 25px;
                }
                p{
                    text-align: center;
                    padding: 10px;
                    margin: 0;
                    width: 100%;
                    color: rgb(255, 255, 255);
                    font-size: 14px;
                    font-weight: 400;

                }
            }
        }
        img{
            margin: 10px;
            height: 252px;
            width: 167px;
            position: absolute;
        }
    }
    .slid2{
        width: 100%;
        min-width: 150px;
        margin-top: calc(var(--space) * 4);
        margin-bottom: calc(var(--space) * 3);
        flex-direction: column;
        position: relative;
        .container{
            width: 100%;
            height: 147px;
            background-color: var(--color_slid_blue);
            justify-content: space-between;
            .imgafter{
                width: 209px;
                height: 100%;
            }
            .elements{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: calc(100% - 197px);
                h2{
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-size: 24px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 25px;
                }
                p{
                    text-align: center;
                    padding: 10px;
                    margin: 0;
                    width: 100%;
                    color: rgb(255, 255, 255);
                    font-size: 14px;
                    font-weight: 400;

                }
            }
        }
        img{
            margin: 10px;
            height: 130px;
            width: 186px;
            position: absolute;
            right: 0;
            margin-top: -30px;
        }
    }
}

#contact_franchise{

    form{
        p{
            color: var(--color_gray);
            font-weight: 600;
            margin-bottom: var(--space);
            span{
                color: var(--green-base);
                font-weight: 600;
                transition: color 1s ease-in-out;
            }
        }
    }
}