#franchise{
    flex-direction: column;
    header{
        flex-direction: column;
        position: absolute;
        > picture{
            z-index: 0;
            max-height: 257;
            max-width: 375px;
        }
        h1{
            color: white;
            position: relative;
            top: 195px;
            z-index: 1;
        }
    }
}