#franchise{
    > header{
        height: 278px;
        width: 100%;
        background-image: url('/assets/images/sorriso.webp');
        background-position: center;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        h1{
            color: white;
            text-align: center;
            font-weight: bold;
        }
    }
}