#header{
    height: 107px;
    width: 100%;
    background-color: var(--green-base);
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    .logo{
        padding: 0;
        position: absolute;
        left: var(--space);
        bottom: calc(100% / 5);
        transition: 0.3 ease-in-out;
    }
    .btn-open{
        padding: 0;
        position: absolute;
        right: var(--space);
        bottom: calc(100% / 4);
        background-color: transparent;
        border: none;
    }
    .menu{
        top: 0;
        width: 300px;
        min-height: 100vh;
        background-color: var(--green-transp);
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;
        position: fixed;
        right: -300px;
        border-radius: calc(var(--space) * 3) 0 0 0;
        transition: 0.3s ease-in-out;
        nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .logoOpen{
                position: absolute;
                height: 70px;
                width: 70px;
                top: calc(107px / 4);
                left: var(--space);
            }
            .btn-close{
                position: absolute;
                top: calc(107px / 4);
                right: var(--space);
                border-radius: 50%;
                border: none;
            }
            ul{
                margin: 0;
                padding: 0;
                margin-top: calc(176px - 50px);
                width: 100%;
                flex-direction: column;       
                li{
                    color: white;
                    list-style: none;
                    justify-content: flex-start;
                    margin: 0 0 15px 0;
                    padding-top: calc(var(--space) / 2);
                    padding-left: var(--space);
                    padding-right: var(--space);
                    > a{
                        color: var(--color_white);
                        font-weight: 600;
                        display: flex;
                        width: 100%;
                        text-decoration: none;
                        justify-content: flex-start; 
                        align-items: center;
                        text-align: center
                    }
                }
            }
            .btn-login{
                @include button-white;
                text-decoration: none;
                width: 100%;
                border-radius: var(--border-radius);
                margin-top: calc(var(--space) * 2);
                > a{
                    justify-content: flex-start; 
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }
    
}

.open-menu{
    overflow: hidden;
    #header{
        border: 1px solid #fff;
        .logo{
            display: none;
        }
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--overlay);
            z-index: 3;
        }
        .menu{
            right: 0;
        }
    }
}
// Ãrea background-image header
#box_bgheader {
    margin-top: 100px;
    height: 250px;
    box-sizing: border-box;
    background-image: url('../images/bgheader.jpg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
    border-bottom: 1px solid #fff;
}




@media (min-width: 1200px){
    .open-menu{
        overflow: initial;
        #header{
            border: none;
            .logo{
                display: initial;
            }
            .overlay{
                display: none;
            }
            .menu{
                right: initial;
            }
        }
    }
    #header{
        .btn-open{
            display: none;
        }
        .menu{
            right: initial;
            position: static;
            background-color: initial;
            width: 100%;
            margin-left: 35%;
            flex-direction: row;
            justify-content: space-between;
            border-radius: initial;
            align-items: center;
            font-size: 18px;
            min-height: 0;
            nav{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                .logoOpen{
                    display: none;
                }
                .btn-close{
                    display: none;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-direction: row;       
                    li{
                        color: white;
                        list-style: none;
                        justify-content: space-around;
                        align-items: center;
                        margin: initial;
                        padding-top: initial;
                        padding-left: 0;
                        > a{
                            display: flex;
                            top: 50%;
                            width: 100%;
                            margin: initial;
                            padding: calc(var(--space) / 4);
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            &:hover{
                                color: var(--green-base);
                                background-color: var(--color_white);
                                border-radius: var(--border-radius)
                            }
                            
                        }
                        
                    }
                    
                }
                .btn-login{
                    @include button-white;
                    height: 45px;
                    width: 116px;
                    margin: 0;
                    > a{
                        margin-top: 0px;
                        display: block
                    }
                }
            }
        }

    }
}