#header{
    height: 107px;
    width: 100%;
    background-color: var(--green-base);
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    .logo{
        padding: 0;
        position: absolute;
        left: var(--space);
        bottom: calc(100% / 5);
        transition: 0.3 ease-in-out;
    }
    .btn-open{
        padding: 0;
        position: absolute;
        right: var(--space);
        bottom: calc(100% / 4);
        background-color: transparent;
        border: none;
    }
    .menu{
        top: 0;
        width: 300px;
        min-height: 100vh;
        background-color: var(--green-transp);
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;
        position: fixed;
        right: -300px;
        border-radius: calc(var(--space) * 3) 0 0 0;
        transition: 0.3s ease-in-out;
        nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .logoOpen{
                position: absolute;
                height: 70px;
                width: 70px;
                top: calc(107px / 4);
                left: var(--space);
            }
            .btn-close{
                position: absolute;
                top: calc(107px / 4);
                right: var(--space);
                border-radius: 50%;
                border: none;
            }
            ul{
                margin: 0;
                padding: 0;
                margin-top: calc(176px - 50px);
                width: 100%;
                flex-direction: column;       
                li{
                    color: white;
                    list-style: none;
                    justify-content: flex-start;
                    margin: 0 0 15px 0;
                    padding-top: var(--space);
                    padding-left: var(--space);
                    > a{
                        display: block;
                        width: 95%;
                        margin: 0 auto;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            .btn-login{
                text-decoration: none;
                color: white;
                cursor: pointer;
                margin-top: calc(var(--space) * 4);
            }
        }
    }
    
}

.open-menu{
    overflow: hidden;
    #header{
        border: 1px solid #fff;
        .logo{
            display: none;
        }
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--overlay);
            z-index: 3;
        }
        .menu{
            right: 0;
        }
    }
}
// Área background-image header
#box_bgheader {
    margin-top: 100px;
    height: 250px;
    box-sizing: border-box;
    background-image: url('./../images/bgheader.jpg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    border-bottom: 1px solid #fff;
}
// Área Sobre
#sobre {
    width: 100%;
    height: 200px;
    background-color: var(--blue-transp);
    padding: 0 var(--space);
    justify-content: center;
    align-items: center;
    h2 {
        display: flex;
        font-size: 20px;
        color: #fff;
    }    
}


@media (min-width: 1200px){
    /*&:last-child{
        background-color: red;
    }*/
}