body {
    margin: 0;
    padding: 0;
}
#form {
    align-items: center;
    margin: calc(65vh - 80%) 0 calc(42vh - 60%);
    overflow: hidden;
    .title {
        width: 100%;
        color: var(--green-base);
        margin: auto;
        font-size: 30px;
        text-align: center;
    }
    .box-forgot a {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--green-base);
        text-decoration: none;
    }
}