@import 'fonts.scss';
@import 'variables.scss';
@import 'default.scss';
@import 'mixins.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'form.scss';
@import 'franchise.scss';
@import 'blog.scss';
