@import 'fonts.scss';
@import 'variables.scss';
@import 'default.scss';
@import 'mixins.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'form.scss';
@import 'franchise.scss';
@import 'blog.scss';
@import 'about.scss';
@import 'services.scss';
@import 'contacts.scss';
@import 'map.scss';
@import 'login.scss';
@import 'forgot.scss';
@import '404.scss';
