#map {
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    .map {
        overflow: hidden;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
    }
}