:root{
    --green-base: #09AAC8;
    //transparet green
    --green-transp: rgba(5, 176, 208, .95);
    //transparet white
    --white-transp: rgba(255, 255, 255, .7);


    --overlay: #000000BF;
    
    --space: 20px;

}